<div class="row valign-wrapper">
  <div class="col m3 s6 center-align">
    <h5>{{car.name}}</h5>
  </div>
  <div class="col m3 s6 center-align">
    <a class="btn-floating waves-effect waves-light blue"
       (click)="showInfo=!showInfo">
      <i *ngIf="showInfo" class="material-icons">keyboard_arrow_up</i>
      <i *ngIf="!showInfo" class="material-icons">keyboard_arrow_down</i>
    </a>
  </div>
</div>
<div class="info" *ngIf="showInfo">
  <div class="input-field">
    <input id="name" [(ngModel)]="car.name"
           type="text" class="validate">
    <label for="name" class="active">Name</label>
  </div>
  <div class="input-field">
    <input id="price" [(ngModel)]="car.price"
           type="number" min="0" step="1" class="validate">
    <label for="price" class="active">Price</label>
  </div>
  <div class="input-field">
    <input id="complecity" [(ngModel)]="car.complecity"
           type="text" class="validate">
    <label for="complecity" class="active">Complecity</label>
  </div>
  <a class="rem-row btn-floating waves-effect waves-light red" (click)="removeCar()">
    <i class="material-icons">delete</i>
  </a>
</div>
