<nav>
  <div class="nav-wrapper">
    <a class="brand-logo">Cars</a>
  </div>
</nav>
<div class="container">
  <app-new-car (car)="addCar($event)"></app-new-car>
  <app-car *ngFor="let car of cars; let i = index"
           [car]="car" [carIndex]="i"
           (removedCar)="removeCar($event)">
  </app-car>
</div>
